/* Main CSS file for the project */
:root {
    --main-bg-color:rgb(221, 208, 208);
}
body {
    font-family: Arial;
    background-color: var(--main-bg-color, white);
    margin: 0;
    padding: 20px;
}
h1{
    color: #032cc5;
    text-align: center;
    font-size: 2.5em;
}
fieldset {
    padding: 2cm;
    margin: .1in;
    background-color: hsl(0, 100%,50%);
}
h2{
    color: blue;
    font-size: 1.8rem;
}
h4{
    color: color(srgb 0 0 0.5);
}
h3{
    color: color-mix(in srgb, blue 50%, black 50%)
}
img{
    width: 50vw;
    max-width: 300px;
}